/* pseudo class selector */
/* article :first-child {
  color: dodgerblue;
} */

/* article :first-of-type {
  color: red;
} */

/* article p:first-of-type {
  color: red;
} */

/* ul li:nth-child(3n) {
  color: deeppink;
} */

/* a:visited {
  color: darkolivegreen;
} */

/* a:visited,
a:link {
  color: deeppink;
}
a:hover,
a:focus {
  color: dodgerblue;
} */

/* pesudo element selector */

/* p::first-letter {
  font-size: 120%;
  font-weight: bold;
}

p::first-line {
  font-size: 120%;
  font-weight: bold;
}

::selection {
  background-color: pink;
}

p::before {
  content: '...';
  display: block;
} */

.heading#kazmi {
  color: blueviolet;
}

#kazmi {
  color: green;
}
.heading {
  color: blue;
}

h1 {
  color: pink !important;
}
